*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100%;
    background-image: url(../img/backgrounds/WallpaperDog-20496256.jpg);
    background-size: 100vw 100%;
    overflow-x: hidden;
    background-repeat: no-repeat;
}

.itemMenu{
    grid-column-start: 2;
}

.title{
    font-family: fontMenu;
    font-size: 85px;
    color: white;
    padding-left: 15px;
    font-weight: normal;
    text-shadow: 0px 0px 10px #000000, 0px 0px 25px #aca7a77a,  0px 0px 60px #00000071;

    grid-column-start: 2;
    grid-row-start: 1;
}

.masterBox{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

/* CONTACT */

.contactMasterBox{
    width: 100%;
    min-height: 100vh;

    display: grid;
    grid-template-columns: auto 280px auto;
    grid-template-rows: auto 220px auto;
}

.formContact{
    width: 280px;
    height: 220px;

    grid-column-start: 2;
    grid-row-start: 2;

    display: grid;
    grid-template-columns: 280px;
    grid-template-rows: 30px 10px 30px 10px 100px 10px 30px;
}

.inputName{
    grid-row-start: 1;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px rgba(0, 0, 0, 0.616) solid;
}

.inputEmail{
    grid-row-start: 3;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px rgba(0, 0, 0, 0.616) solid;
}

.textArea{
    grid-row-start: 5;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px rgba(0, 0, 0, 0.616) solid;
}

.inputButton{
    grid-row-start: 7;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px rgba(0, 0, 0, 0.616) solid;    
    font-weight: bold;
    color: #6d6b6b;
}

/* - - - - - - - - - - - - - - - FOOTER - - - - - - - - - - - - - - - - - */

footer{
    width: 100vw;
    height: 40px;
    background-color: rgba(5, 10, 22, 0.884);
    box-shadow: 2px 0px 15px black;

    position: sticky;
    bottom: 0;

    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 40px;
}

.socialMediaContainer{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.liFooter{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerIcom{
    height: 20px;
}

.footerNavContainer{
    
    display: grid;
    grid-template-columns: auto 100px 10px;
    grid-template-rows: 40px;
    list-style: none;
    margin: 0;
    grid-column-start: 2;

}

.itemNavFooter{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemsFooterMenu{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.itemsFooterRedes{
    display: inline;
    width: 80px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.itemAboutMe{
    grid-column-start: 2;
}

.itemAbouteMe {display: none;}

.space1 {display: none;}

.itemTraining {display: none;}

.space2 {display: none;}

.itemWExperience {display: none;}

.space3 {display: none;}

.itemMyWorks {display: none;}

.space4 {display: none;}

.itemContact {display: none;}

.space5 {display: none;}

/* - - - ANIMATIONES FOOTER - - - */
    
.itemsFooterMenu:hover{
    text-shadow: 0px 0px 2px #000000, 0px 0px 10px #ffffffd7;
    color: white;
}

.footerIcom:hover{
    filter: drop-shadow(0px 0px 10px #ffffffd7);
}


/* TRAINING */

.mastesBoxTraining{
    width: 100vw;
    height: 100vh;

    grid-column-start: 2;
    grid-row-start: 2;

    display: grid;
    grid-template-columns: 5% 70px 20px 35% 10% 300px auto;
    grid-template-rows: auto 70px 20px 70px 20px 70px 20px 70px 20px 70px 20px 70px 20px 70px 100px;
}

.programsIcons{
    width: 45px;
    height: 45px;
    filter: drop-shadow(0px 0px 5px #000000d7);

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.iconExcel{
    grid-column-start: 2;
    grid-row-start: 2;
}

.iconWord{
    grid-column-start: 2;
    grid-row-start: 4;
}

.iconVsCode{
    grid-column-start: 2;
    grid-row-start: 6;
}

.iconCorel{
    grid-column-start: 2;
    grid-row-start: 8;
}

.iconPhotoShop{
    grid-column-start: 2;
    grid-row-start: 10;
}

.iconAutoCad{
    grid-column-start: 2;
    grid-row-start: 12;
}

.iconSketchUp{
    grid-column-start: 2;
    grid-row-start: 14;
}

.programBar{
    width: 100%;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.bar1{
    grid-column-start: 6;
    grid-row-start: 2;
}

.bar2{
    grid-column-start: 6;
    grid-row-start: 4;
}

.bar3{
    grid-column-start: 6;
    grid-row-start: 6;
}

.bar4{
    grid-column-start: 6;
    grid-row-start: 8;
}

.bar5{
    grid-column-start: 6;
    grid-row-start: 10;
}

.bar6{
    grid-column-start: 6;
    grid-row-start: 12;
}

.bar7{
    grid-column-start: 6;
    grid-row-start: 14;
}

.programTitle{
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.programText{
    font-size: 12px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.excelText{
    grid-column-start: 4;
    grid-row-start: 2;
}

.wordText{
    grid-column-start: 4;
    grid-row-start: 4;
}

.vsCodeText{
    grid-column-start: 4;
    grid-row-start: 6;
}

.corelText{
    grid-column-start: 4;
    grid-row-start: 8;
}

.photShopText{
    grid-column-start: 4;
    grid-row-start: 10;
}

.aCadText{
    grid-column-start: 4;
    grid-row-start: 12;
}

.sketchUpText{
    grid-column-start: 4;
    grid-row-start: 14;
}

/* - - - - - - - - - - - - - - MAIN MENU - - - - - - - - - - - - - - - - */

.masterBoxMenu{
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    display: grid;
    grid-template-columns: auto 600px auto;
    grid-template-rows: auto 50px auto;
}

.mainMenuConteiner{
    width: 600px;
    height: 50px;
    grid-column-start: 2;
    grid-row-start: 2;

    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 50px;
}

.menuItem{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 1s;
}

.menuLi{
    list-style: none;
    transition: 1s;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 0px 3px #000000;
}

.mainMenuConteiner:hover .menuLi .menuItem {
    transform: scale(1.05);
    opacity: 0.8;
    filter: blur(3px);
    text-shadow: 0px 0px 4px #000000;
}

.mainMenuConteiner  .menuLi .menuItem:hover {
    transform: scale(1.5);
    opacity: 1;
    filter: blur(0px);
    text-shadow: 0px 0px 3px #000000, 0px 0px 8px #fcfbfb;
}

.abouteMe{
    grid-column-start: 1;
    grid-row-start: 1;
}

.training{
    grid-column-start: 2;
    grid-row-start: 1;
}

/*.contactMasterBox{
    grid-column-start: 2;
    grid-row-start: 4;
}*/

.myWorks{
    grid-column-start: 3;
    grid-row-start: 1;
}

.contact{
    grid-column-start: 4;
    grid-row-start: 1;
}


/* - - - - - - - - - - - - MODO TABLETA / PC - - - - - - - - - - - - - - - */

@media (min-width: 768px) {

    .contactMasterBox{        
        grid-template-columns: auto 350px auto;
        grid-template-rows: 30px 420px auto;
    }
    
    .formContact{
        width: 350px;
        height: 420px;
    
        grid-template-columns: 350px;
        grid-template-rows: 35px 12px 35px 12px auto 12px 35px;
    }

    /*.mainMenuConteiner{
        grid-template-columns: auto 450px auto;
        grid-template-rows: auto 95px 95px 95px 95px 95px auto;
    }
    
    .menuItem{
        font-size: 90px;
        color: rgb(165, 164, 164);
    }
    
    .menuItem:hover{
        font-size: 110px;
    }*/

    .titleBox{
        margin: 20px;
        height: 90px;
    }
    
    .title{
        font-size: 110px;
        text-align: end;
        padding-right: 40px;
    }
    
    /* - - - - - - - - - - - - - - - FOOTER - - - - - - - - - - - - - - - - - */

    footer{
        grid-template-columns: 30% 70%;
    }

    .liFooter{
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footerIcom{
        height: 20px;
    }

    .footerNavContainer{    
        grid-template-columns: auto 100px 4px 100px 4px 100px 4px 100px 4px 100px 10px;
        position: relative;
    }

    .itemAbouteMe {
        display: block;
        grid-column-start: 2;
    }

    .space1 {
        display: block;
        grid-column-start: 3;
    }

    .itemTraining {
        display: block;
        grid-column-start: 4;
    }

    .space2 {
        display: block;
        grid-column-start: 5;
    }

    .itemMyWorks {
        display: block;
        grid-column-start: 6;
    }

    .space3 {
        display: block;
        grid-column-start: 7;
    }

    .itemContact {
        display: block;
        grid-column-start: 8;
    }

    .space4 {
        display: block;
        grid-column-start: 9;
    }

    .itemMenu {grid-column-start: 10;}

    .itemsMenuFooter{
        display: inline-block;

        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .footerNavContainer p{
        color: white;
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .itemsFooterMenu{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        color: white;
        font-weight: bold;
        text-decoration: none;
    }

    .itemNavFooter{
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .itemsFooterMenu{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        color: white;
        font-weight: bold;
        text-decoration: none;
    }

    .itemsFooterRedes{
        display: inline;
        width: 80px;
        height: 40px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .itemAboutMe{
        grid-column-start: 2;
    }

    /* - - - ANIMATIONES FOOTER - - - */
        
    .itemsFooterMenu:hover{
        text-shadow: 0px 0px 2px #000000, 0px 0px 10px #ffffffd7;
        color: white;
    }

}