* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100%;
  background-image: url(../img/backgrounds/WallpaperDog-20496256.jpg);
  background-size: 100vw 100%;
  overflow-x: hidden;
  background-repeat: no-repeat;
}

/* - - - - - - - - - - - - - - - FONTS - - - - - - - - - - - - - - - */
@font-face {
  font-family: fontLogo;
  src: url(../fonts/fontLogo.otf);
}
.letter, .title {
  font-family: fontLogo;
}

@font-face {
  font-family: fontLogo2;
  src: url(../fonts/EngraversGothic\ BT.ttf);
}
.portLetter {
  font-family: fontLogo2;
}

/* - - - - - - - - - - - - - - - INDEX - - - - - - - - - - - - - - - */
.masterBoxIndex {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: auto 240px auto;
  grid-template-rows: auto 131px 180px auto;
}

.mainConteiner {
  width: 240px;
  height: 123px;
  position: absolute;
  display: grid;
  grid-column-start: 2;
  grid-row-start: 2;
  grid-template-columns: auto;
  grid-template-rows: 4px 85px 30px 4px;
}

.lineTop {
  width: 240px;
  height: 4px;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  margin: 0 auto;
  opacity: 0;
  grid-column-start: 1;
  grid-row-start: 1;
}

.lineDown {
  width: 240px;
  height: 4px;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  margin: 0 auto;
  opacity: 0;
  grid-column-start: 1;
  grid-row-start: 4;
}

.pabloRaselliConteiner {
  width: 240px;
  height: 85px;
  position: absolute;
  grid-column-start: 1;
  grid-row-start: 2;
  display: grid;
  grid-template-columns: auto 19px 19px 19px 10px 19px 10px 21px 19px 19px 19px 10px 10px 10px auto;
}

.letter {
  color: white;
  font-size: 55px;
  text-align: center;
  margin-top: 15px;
  font-weight: bolder;
  font-family: fontLogo;
  opacity: 0;
  text-shadow: 0px 0px 7px #000000, 0px 0px 10px #000000, 0px 0px 15px rgba(255, 255, 255, 0.4784313725), 0px 0px 60px rgba(255, 255, 255, 0.4431372549);
}

.P1 {
  grid-column-start: 2;
}

.A1 {
  grid-column-start: 3;
}

.B {
  grid-column-start: 4;
}

.L1 {
  grid-column-start: 5;
}

.O1 {
  grid-column-start: 6;
}

.space {
  grid-column-start: 7;
}

.R1 {
  grid-column-start: 8;
}

.A2 {
  grid-column-start: 9;
}

.S {
  grid-column-start: 10;
}

.E {
  grid-column-start: 11;
}

.L2 {
  grid-column-start: 12;
}

.L3 {
  grid-column-start: 13;
}

.I1 {
  grid-column-start: 14;
}

.portfolioBox {
  width: 240px;
  height: 30px;
  opacity: 0;
  grid-column-start: 1;
  grid-row-start: 3;
  display: grid;
  grid-template-columns: auto 23px 23px 23px 23px 23px 23px 23px 23px 23px auto;
  grid-template-rows: 1fr;
  animation-name: portfolioAni;
  animation-duration: 3s;
  animation-delay: 7s;
  animation-fill-mode: forwards;
}

.portLetter {
  font-family: fontLogo2;
  color: rgb(255, 255, 255);
  font-size: 25px;
  text-align: center;
  transform: translateY(-25%);
  text-shadow: 0px 0px 4px black;
}

.P2 {
  grid-column-start: 2;
}

.O2 {
  grid-column-start: 3;
}

.R2 {
  grid-column-start: 4;
}

.T {
  grid-column-start: 5;
}

.F {
  grid-column-start: 6;
}

.O3 {
  grid-column-start: 7;
}

.L4 {
  grid-column-start: 8;
}

.I2 {
  grid-column-start: 9;
}

.refreshBox {
  grid-column-start: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-16%);
}

.refresh {
  width: 16px;
  height: 16px;
  filter: drop-shadow(0px 0px 3px black);
  animation-name: refresAni;
  animation-duration: 5s;
  animation-delay: 11s;
  animation-iteration-count: infinite;
}

@keyframes refresAni {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-180deg);
  }
  20% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes portfolioAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.letter {
  animation-name: lettersAni;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes lettersAni {
  0% {
    opacity: 0;
    font-size: 85px;
  }
  100% {
    opacity: 1;
    font-size: 55px;
  }
}
.P1 {
  animation-delay: 1s;
}

.A1 {
  animation-delay: 1.5s;
}

.B {
  animation-delay: 2s;
}

.L1 {
  animation-delay: 2.5s;
}

.O1 {
  animation-delay: 3s;
}

.R1 {
  animation-delay: 3.8s;
}

.A2 {
  animation-delay: 4.3s;
}

.S {
  animation-delay: 4.8s;
}

.E {
  animation-delay: 5.3s;
}

.L2 {
  animation-delay: 5.8s;
}

.L3 {
  animation-delay: 6.3s;
}

.I1 {
  animation-delay: 6.8s;
}

.lineTop {
  animation-name: lineTopAni;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 6s;
  box-shadow: 0px 0px 7px #000000, 0px 0px 30px rgba(255, 255, 255, 0.4431372549);
}

@keyframes lineTopAni {
  0% {
    width: 0px;
    opacity: 1;
  }
  100% {
    width: 240px;
    opacity: 1;
  }
}
.lineDown {
  animation-name: lineDownAni;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 6s;
  box-shadow: 0px 0px 7px #000000, 0px 0px 30px rgba(255, 255, 255, 0.4431372549);
}

@keyframes lineDownAni {
  0% {
    width: 0px;
    opacity: 1;
  }
  100% {
    width: 240px;
    opacity: 1;
  }
}
/* MENU NAV */
.mainMenuConteiner {
  width: 240px;
  height: 180px;
  display: grid;
  grid-column-start: 2;
  grid-row-start: 3;
  opacity: 0;
  animation-name: navAni;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 7s;
  grid-template-columns: 240px;
  grid-template-rows: auto 30px 30px 30px 30px auto;
}

@keyframes navAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.abouteMe {
  grid-column-start: 1;
  grid-row-start: 2;
}

.skills {
  grid-column-start: 1;
  grid-row-start: 3;
}

.myWorks {
  grid-column-start: 1;
  grid-row-start: 4;
}

.contact {
  grid-column-start: 1;
  grid-row-start: 5;
}

.menuItem {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 1s;
}

.menuLi {
  list-style: none;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 0px 3px #000000;
}

.mainMenuConteiner:hover .menuLi .menuItem {
  transform: scale(1.05);
  opacity: 0.8;
  filter: blur(3px);
  text-shadow: 0px 0px 4px #000000;
}
.mainMenuConteiner .menuLi .menuItem:hover {
  transform: scale(1.5);
  opacity: 1;
  filter: blur(0px);
  text-shadow: 0px 0px 3px #000000, 0px 0px 8px #fcfbfb;
}

/* - - - - - - - - - - - - - - - HEADER - - - - - - - - - - - - - - - */
header {
  width: 100vw;
  height: 40px;
  background-color: rgba(5, 10, 22, 0.884);
  box-shadow: 2px 0px 15px black;
  top: 0;
  position: sticky;
  z-index: 1;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 40px;
}

.headerNavContainer {
  list-style: none;
  margin: 0;
  display: grid;
  grid-template-columns: auto 100px 10px;
  grid-template-rows: 40px;
  grid-column-start: 2;
}

.itemNavHeader {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerItems {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.itemMenu {
  grid-column-start: 2;
}

.itemAbouteMe, .space1, .itemSkills, .space2, .itemWExperience, .space3, .itemMyWorks, .space4, .itemContact, .space5 {
  display: none;
}

.headerItems:hover {
  text-shadow: 0px 0px 2px #000000, 0px 0px 10px rgba(255, 255, 255, 0.8431372549);
  color: white;
}

/* - - - - - - - - - - - - - - - ABOUT ME - - - - - - - - - - - - - - - */
.masterBoxAboutMe {
  width: 100vw;
  height: 100vh;
  padding: 1em;
}

/* - - - - - - - - - - - - - - - SKILLS - - - - - - - - - - - - - - - */
.mastesBoxSkills {
  width: 100vw;
  height: 100%;
  padding: 1em;
  display: grid;
  justify-items: center;
}

.skillHead {
  width: 100%;
  display: grid;
}

.skillsTitle span {
  color: rgb(12, 192, 51);
  text-shadow: 0px 0px 3px rgb(132, 221, 132);
}

.skillHead h2 {
  color: white;
}

.skillBox {
  width: 100%;
  padding: 1em;
  display: grid;
  grid-template-columns: 1;
  gap: 40px;
}
.skillBox p {
  color: white;
  font-weight: bolder;
}
.skillBox .skillBar .info {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.skillBar .programBar {
  width: 100%;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.199);
  box-shadow: 0px 0px 5px black;
  border-radius: 7px;
  position: relative;
}
.skillBar .programBar span {
  height: 100%;
  position: absolute;
  background-image: linear-gradient(90deg, rgb(18, 204, 211), rgb(77, 211, 43));
  border-radius: 7px;
}

.excel {
  width: 95%;
  animation-name: excelAni;
  animation-duration: 1.5s;
}

@keyframes excelAni {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}
.word {
  width: 85%;
  animation-name: wordAni;
  animation-duration: 1.5s;
}

@keyframes wordAni {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}
.vsCode {
  width: 90%;
  animation-name: vsCodeAni;
  animation-duration: 1.5s;
}

@keyframes vsCodeAni {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
.corel {
  width: 95%;
  animation-name: corelAni;
  animation-duration: 1.5s;
}

@keyframes corelAni {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}
.photoShop {
  width: 82%;
  animation-name: psAni;
  animation-duration: 1.5s;
}

@keyframes psAni {
  0% {
    width: 0;
  }
  100% {
    width: 82%;
  }
}
.autoCad {
  width: 97%;
  animation-name: aCadAni;
  animation-duration: 1.5s;
}

@keyframes aCadAni {
  0% {
    width: 0;
  }
  100% {
    width: 97%;
  }
}
.sketchUp {
  width: 80%;
  animation-name: sketchAni;
  animation-duration: 1.5s;
}

@keyframes sketchAni {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
.lightBurn {
  width: 90%;
  animation-name: lightBurnAni;
  animation-duration: 1.5s;
}

@keyframes lightBurnAni {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
.dividerLine {
  grid-column: 1/3;
}

/* - - - - - - - - - - - - - - - MY WORKS - - - - - - - - - - - - - - - */
.masterBoxMyWorks {
  width: 100vw;
  height: 100%;
  padding: 1em;
}

.conteinerMyWorks {
  background: none;
}

/* - - - - - - - - - - - - - - - CONTACT - - - - - - - - - - - - - - - */
.masterBoxContact {
  width: 100vw;
  height: 100%;
  padding: 1em;
  display: grid;
  justify-items: center;
}

.contacTitle span {
  color: rgb(12, 192, 51);
  text-shadow: 0px 0px 3px rgb(132, 221, 132);
}

.formWrapper {
  color: white;
  padding: 1em;
  box-shadow: 0px 0px 15px rgba(8, 8, 8, 0.5);
  border-radius: 12px;
  background-image: linear-gradient(135deg, rgba(241, 246, 247, 0.322), rgba(92, 128, 133, 0.322), rgba(41, 175, 130, 0.418));
}
.formWrapper > * {
  padding: 1em;
}

.contactInfo {
  background-color: rgba(0, 0, 0, 0.2392156863);
  border: 1px solid rgba(82, 82, 82, 0.514);
  border-radius: 12px;
  box-shadow: 0px 0px 8px rgba(8, 8, 8, 0.5);
}
.contactInfo p {
  display: none;
}

.contactForm form {
  display: grid;
  grid-template-columns: 50% 50%;
}
.contactForm form p {
  margin: 0;
  padding: 1em;
}
.contactForm form .block {
  grid-column: 1/3;
}
.contactForm form button, .contactForm form input {
  width: 100%;
  padding: 0.3em;
  border: none;
  background: none;
  outline: 0;
  color: white;
  border-bottom: 2px solid rgba(12, 192, 51, 0.555);
}
.contactForm form textarea {
  width: 100%;
  padding: 0.3em;
  border: none;
  background: none;
  outline: 0;
  color: white;
  border-bottom: 2px solid rgba(12, 192, 51, 0.555);
  height: 3em;
}
.contactForm form button {
  background: rgba(9, 184, 131, 0.589);
  box-shadow: 0px 0px 5px black;
  border: 0;
  border-radius: 10px;
  padding: 1em;
  font-size: 15px;
}
.contactForm form button:hover {
  background: rgba(37, 231, 95, 0.589);
  box-shadow: 0px 0px 5px rgb(247, 243, 243);
  transition: 1s;
}

.contactInfo h3, .contactInfo ul, .contactInfo p {
  text-align: center;
  margin: 0 0 1rem 0;
}
.contactInfo ul {
  list-style: none;
  padding: 0;
}
.contactInfo ul li {
  padding: 0.3em;
}

/* - - - - - - - - - - - - - - - FOOTER - - - - - - - - - - - - - - - */
.footerIconsContainer {
  display: inline;
  width: 180px;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footerIcom {
  height: 20px;
}
.footerIcom:hover {
  filter: drop-shadow(0px 0px 5px #8df33a);
}

/* - - - - - - - - - - - - - - - MOOD TABLET / PC - - - - - - - - - - - - - - - */
@media (min-width: 768px) {
  /* - - - - - - - INDEX - - - - - - - */
  .masterBoxIndex {
    height: 100vh;
    grid-template-columns: auto 600px auto;
    grid-template-rows: auto 151px 50px auto;
  }
  .mainConteiner {
    width: 600px;
    height: 142px;
    grid-template-rows: 5px 97px 35px 5px;
  }
  .lineTop, .lineDown {
    display: none;
    width: 276px;
    height: 5px;
  }
  .pabloRaselliConteiner {
    width: 600px;
    height: 97px;
    grid-template-columns: auto 22px 22px 22px 11px 22px 11px 24px 22px 22px 22px 11px 11px 11px auto;
  }
  .letter {
    font-size: 63px;
    margin-top: 17px;
  }
  .portfolioBox {
    width: 600px;
    height: 35px;
    grid-template-columns: auto 26px 26px 26px 26px 26px 26px 26px 26px 26px auto;
  }
  .portLetter {
    font-size: 29px;
    transform: translateY(-25%);
  }
  .refreshBox {
    transform: translateY(-21%);
  }
  .refresh {
    width: 17px;
    height: 17px;
  }
  @keyframes lettersAni {
    0% {
      opacity: 0;
      font-size: 97px;
    }
    100% {
      opacity: 1;
      font-size: 63px;
    }
  }
  @keyframes lineTopAni {
    0% {
      width: 0px;
      opacity: 1;
    }
    100% {
      width: 276px;
      opacity: 1;
    }
  }
  @keyframes lineDownAni {
    0% {
      width: 0px;
      opacity: 1;
    }
    100% {
      width: 276px;
      opacity: 1;
    }
  }
  .mainMenuConteiner {
    width: 600px;
    height: 50px;
    grid-column-start: 2;
    grid-row-start: 3;
    opacity: 0;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 50px;
    animation-name: navAni;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-delay: 7s;
  }
  @keyframes navAni {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .abouteMe {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .skills {
    grid-column-start: 2;
    grid-row-start: 1;
  }
  .myWorks {
    grid-column-start: 3;
    grid-row-start: 1;
  }
  .contact {
    grid-column-start: 4;
    grid-row-start: 1;
  }
  /* - - - - - - - HEADER MENU - - - - - - - */
  .headerNavContainer {
    grid-template-columns: auto 100px 4px 100px 4px 100px 4px 100px 4px 100px 10px;
    position: relative;
  }
  .itemAbouteMe {
    display: block;
    grid-column-start: 2;
  }
  .space1 {
    display: block;
    grid-column-start: 3;
  }
  .itemSkills {
    display: block;
    grid-column-start: 4;
  }
  .space2 {
    display: block;
    grid-column-start: 5;
  }
  .itemMyWorks {
    display: block;
    grid-column-start: 6;
  }
  .space3 {
    display: block;
    grid-column-start: 7;
  }
  .itemContact {
    display: block;
    grid-column-start: 8;
  }
  .space4 {
    display: block;
    grid-column-start: 9;
  }
  .itemMenu {
    grid-column-start: 10;
  }
  .headerItems {
    display: inline-block;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .headerNavContainer p {
    color: white;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .menuLink {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
  .menuLink:hover {
    text-shadow: 0px 0px 2px #000000, 0px 0px 10px rgba(255, 255, 255, 0.8431372549);
    color: white;
  }
  /* - - - - - - - ABOUTE ME - - - - - - - */
  /* - - - - - - - SKILLS - - - - - - - */
  .mastesBoxSkills {
    padding: 2em;
  }
  .skillBox {
    width: 90%;
    padding: 2em;
    grid-template-columns: 50% 50%;
  }
  .dividerLine {
    grid-column: 1/3;
  }
  /* - - - - - - - MY WORKS - - - - - - - */
  .masterBoxMyWorks {
    width: 90%;
    padding: 0;
  }
  /* - - - - - - - CONTACT - - - - - - - */
  .formWrapper {
    width: 90%;
    padding: 1em;
    display: grid;
    grid-template-columns: 70% 30%;
  }
  .contactInfo p {
    display: block;
  }
  .contactForm form textarea {
    height: 8em;
  }
  /* - - - - - - - FOOTER - - - - - - - */
  .footerIcom {
    height: 20px;
  }
  .footerIconsContainer {
    display: inline;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .footerIcom:hover {
    filter: drop-shadow(0px 0px 5px #ffffff);
    height: 22px;
  }
}
.subTitleSkills {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 28px;
  text-shadow: 0px 0px 3px rgb(190, 190, 190);
  margin: 0;
  padding: 0;
}

.skillHead h2 {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 28px;
  text-shadow: 0px 0px 3px rgb(190, 190, 190);
  margin: 0;
  padding: 0;
}

.contacTitle {
  font-family: "Quicksand", sans-serif;
  text-align: left;
  margin-bottom: 0.5em;
  font-size: 3em;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 3px rgb(190, 190, 190);
}

.skillsTitle {
  font-family: "Quicksand", sans-serif;
  text-align: left;
  margin-bottom: 0.5em;
  font-size: 3em;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 3px rgb(190, 190, 190);
}

/*# sourceMappingURL=styles.css.map */
