*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: calc(100vh - 40px - 80px);
    background-image: url(../img/backgrounds/background04.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.itemMenu{
    grid-column-start: 2;
}

.headerBox{
    display: grid;
    grid-template-columns: 20px auto;
    grid-template-rows: auto;
}

.title{
    font-family: fontMenu;
    font-size: 85px;
    color: white;
    font-weight: normal;
    text-shadow: 0px 0px 10px #000000, 0px 0px 25px #aca7a77a,  0px 0px 60px #00000071;

    grid-column-start: 2;
    grid-row-start: 1;
}

.headerAni{
    width: 850px;
    height: 110px;
    position: relative;
    display: none;

    grid-column-start: 2;
    grid-row-start: 1;
}

.polygon{
    width: 8px;
    position: absolute;
    filter: drop-shadow(0px 0px 8px #ffffff);
    opacity:0;
    animation-name: aniA;
    animation-duration: 4s;
    animation-fill-mode: initial;
    animation-iteration-count: infinite;
}

.A{animation-delay: 2s;
   margin-top: 21px;
   margin-left: 300px}

.B{animation-delay: 1.8s;
   margin-top: 38px;
   margin-left: 302px}

.C{animation-delay: 2.6s;
   margin-top: 50px;
   margin-left: 290px}

.D{animation-delay: 2.2s;
   margin-top: 34px;
   margin-left: 295px}

.E{animation-delay: 1.3s;
   margin-top: 46px;
   margin-left: 291px}

.F{animation-delay: 2.5s;
   margin-top: 60px;
   margin-left: 300px}

.G{animation-delay: 3.5s;
   margin-top: 72px;
   margin-left: 299px}

.H{animation-delay: 1.9s;
   margin-top: 80px;
   margin-left: 293px}

.I{animation-delay: 2.1s;
   margin-top: 86px;
   margin-left: 303px}

.J{animation-delay: 3.1s;
   margin-top: 57px;
   margin-left: 297px}

.K{animation-delay: 0.9s;
   margin-top: 95px;
   margin-left: 290px}

.L{animation-delay: 2.9s;
   margin-top: 27px;
   margin-left: 293px}

.M{animation-delay: 1.5s;
   margin-top: 85px;
   margin-left: 299px}

.N{animation-delay: 0.3s;
   margin-top: 35px;
   margin-left: 302px}

.O{animation-delay: 0.7;
   margin-top: 29px;
   margin-left: 282px}

.P{animation-delay: 2.6;
   margin-top: 59px;
   margin-left: 307px}

@keyframes aniA {
    0% {transform: rotate(0deg);
        left: 0;
        opacity: 0;}
    80% {transform: rotate(-360deg);
         left: 730px;
         opacity: 1;}
    100% {transform: rotate(360deg);
        left: 800px;
        opacity: 0;}
}

.masterBox{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

/* CONTACT */

.contactMasterBox{
    width: 100%;
    min-height: 100vh;

    display: grid;
    grid-template-columns: auto 280px auto;
    grid-template-rows: 30px 380px auto;
}

.formContact{
    width: 280px;
    height: 380px;

    grid-column-start: 2;
    grid-row-start: 2;

    display: grid;
    grid-template-columns: 280px;
    grid-template-rows: 30px 10px 30px 10px auto 10px 30px;
}

.inputName{
    grid-row-start: 1;
    border-radius: 10px;
    box-shadow:  0px 0px 8px black;
    border: 1px rgba(0, 0, 0, 0.616) solid;
}

.inputEmail{
    grid-row-start: 3;
    border-radius: 10px;
    box-shadow:  0px 0px 8px black;
    border: 1px rgba(0, 0, 0, 0.616) solid;
}

.textArea{
    grid-row-start: 5;
    border-radius: 10px;
    box-shadow:  0px 0px 8px black;
    border: 1px rgba(0, 0, 0, 0.616) solid;
}

.inputButton{
    grid-row-start: 7;
    border-radius: 10px;
    background-image: linear-gradient(5deg, #69ebf0, #34e952);
    box-shadow:  0px 0px 8px black;
    border: 1px rgba(0, 0, 0, 0.616) solid;    
    font-weight: bold;
    color: #6d6b6b;
}

/* - - - - - - - - - - - - - - - FOOTER - - - - - - - - - - - - - - - - - */

footer{
    width: 100%;
    height: 40px;
    background-color: rgba(5, 10, 22, 0.884);
    box-shadow: 2px 0px 15px black;

    position: sticky;
    bottom: 0;

    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 40px;
}

.socialMediaContainer{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.liFooter{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerIcom{
    height: 20px;
}

.footerNavContainer{
    
    display: grid;
    grid-template-columns: auto 100px 10px;
    grid-template-rows: 40px;
    list-style: none;
    margin: 0;
    grid-column-start: 2;

}

.itemNavFooter{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemsFooterMenu{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.itemsFooterRedes{
    display: inline;
    width: 80px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.itemAboutMe{
    grid-column-start: 2;
}

/* - - - ANIMATIONES FOOTER - - - */
    
.itemsFooterMenu:hover{
    text-shadow: 0px 0px 2px #000000, 0px 0px 10px #ffffffd7;
    color: white;
}

.footerIcom:hover{
    filter: drop-shadow(0px 0px 10px #ffffffd7);
}

/* - - - - - - - - - - - - - - MAIN MENU - - - - - - - - - - - - - - - - */

.mainMenuConteiner{
    width: 100%;
    height: 600px;

    display: grid;
    grid-template-columns: auto 280px auto;
    grid-template-rows: auto 70px 70px 70px 70px 70px auto;
}

.menuItem{
    font-family: fontMenu;
    font-size: 70px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px #000000, 0px 0px 25px #0000007a,  0px 0px 60px #00000071;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.abouteMe{
    grid-column-start: 2;
    grid-row-start: 2;
}

.training{
    grid-column-start: 2;
    grid-row-start: 3;
}

.experience{
    grid-column-start: 2;
    grid-row-start: 4;
}

.myWorks{
    grid-column-start: 2;
    grid-row-start: 5;
}

.contact{
    grid-column-start: 2;
    grid-row-start: 6;
}


/* - - - ANIMACION MENU - - - */

.menuItem:hover{
    font-size: 85px;
    color: white;
    text-shadow: 0px 0px 15px #000000, 0px 0px 35px #0000007a,  0px 0px 60px #ffffff,
                 0px 0px 250px #00000071;
    transition: 0.7s;
}

/* - - - - - - - - - - - - MODO TABLETA / PC - - - - - - - - - - - - - - - */

@media (min-width: 768px) {

    .contactMasterBox{
        grid-template-columns: auto 350px auto;
        grid-template-rows: 30px 420px auto;
    }
    
    .formContact{
        width: 350px;
        height: 420px;
    
        grid-template-columns: 350px;
        grid-template-rows: 35px 12px 35px 12px auto 12px 35px;
    }

    .headerAni{
        display:block;
    }

    .mainMenuConteiner{
        grid-template-columns: auto 450px auto;
        grid-template-rows: auto 95px 95px 95px 95px 95px auto;
    }
    
    .menuItem{
        font-size: 90px;
        color: rgb(165, 164, 164);
    }
    
    .menuItem:hover{
        font-size: 110px;
    }

    .titleBox{
        margin: 20px;
        height: 90px;
    }
    
    .title{
        font-size: 110px;
        text-align: end;
        padding-right: 20px;
    }

}