*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 600px;
    background-image: url(../img/backgrounds/fondo04.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;

    position: relative;

    display: grid;
    grid-template-columns: auto 240px auto;
    grid-template-rows: auto 100px auto;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.mainConteiner{
    width: 240px;
    height: 100px;

    position: absolute;

    display: grid;
    grid-column-start: 2;
    grid-row-start: 2;

}

.lineTop{  
    width: 240px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    margin: 0 auto;
    opacity: 0;
}

.downConteiner{
    width: 240px;
    height: 12px;
    position: absolute;
    top: 89%;     
    left: 50%;
    transform: translateX(-50%);

    display: grid;
    grid-template-columns: repeat(3, 30% 40% 30%); 

    display: flex;
    align-items: center;
    justify-content: center;          
}

.logoButton{
    display: flex;
    align-items: center;
    justify-content: center;
}

.initiate{
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    font-weight: normal;
    opacity: 0.8;
    margin: 8px;
    text-shadow: 0px 0px 7px #000000, 0px 0px 15px #ffffff7a,  0px 0px 30px #ffffff71;
}

.lineDownLeft{
    width: 0px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
}

.lineDownRight{
    width: 0px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;        
}

.pabloRaselliConteiner{
    width: 240px;
    height: 98px;
    position: absolute;
    top: 17%;


    display: grid;
    grid-template-columns: 50% 50%;
}

.pabloConteiner{ 
    width: 86px;
    position: relative;
    left: 100%;
    transform: translate(-102px);
    display: grid;
    grid-template-columns: repeat(5, 22% 22% 22% 12% 22%);
}

.raselliConteiner{ 
    width: 116px;
    transform: translate(-10px);    
    float: left;
    display: grid;
    grid-template-columns: repeat(7, 20% 19% 17% 17% 9% 9% 9%);
}

.letterBox{
    height: 65px;
    text-align: center;
    color: white;
    font-size: 55px;   
}

.letter{
    font-weight: bolder;
    opacity: 0;
    text-shadow: 0px 0px 7px #000000, 0px 0px 10px #000000, 0px 0px 15px #ffffff7a,  0px 0px 60px #ffffff71;
}
     



/* - - - - - - - - - - - MODO TABLETA - - - - - - - - - - - - - - */

@media (min-width: 768px) {

body{
    grid-template-columns: auto 360px auto;
    grid-template-rows: auto 135px auto;
}

.mainConteiner{
    width: 360px;
    height: 135px;
}

.lineTop{  
    width: 360px;
    height: 5px;
}

.downConteiner{
    width: 360px;
    height: 15px;
}

.initiate{
    font-size: 22px;
}

.lineDownLeft{
    height: 5px;
}

.lineDownRight{
    height: 5px;
}

.pabloRaselliConteiner{
    width: 360px;
    height: 90px;

    top: 52%;
    transform: translateY(-50%);
}

.pabloConteiner{ 
    width: 115px;

    transform: translate(-138px);
}

.raselliConteiner{ 
    width: 155px;
    transform: translate(-18px);
}

.letterBox{
    height: 85px;
    font-size: 69px;   
}

@keyframes lettersAnimation {
    0% {opacity: 0;
    font-size: 100px;}
    100% {opacity: 1;
    font-size: 69px;}
}


@keyframes lineTopAnimation {
    0% {width: 0px;
        opacity: 1;}
    100% {width: 320px;
        opacity: 1;}
}

@keyframes lineDownLeftAnimation {
    0% {width: 0px;
        opacity: 1;}
    100% {width: 115px;
        opacity: 1;}
}

@keyframes lineDownRightAnimation {
    0% {width: 0px;
        opacity: 1;}
    100% {width: 115px;
        opacity: 1;}
}

}

/* - - - - - - - - - - - FIN MODO TABLETA - - - - - - - - - - - - - - */