* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100%;
  background-image: url(../img/backgrounds/WallpaperDog-20496256.jpg);
  background-size: 100vw 100%;
  overflow-x: hidden;
  background-repeat: no-repeat;
}

/* - - - - - - - - - - - - - - - FONTS - - - - - - - - - - - - - - - */
@font-face {
  font-family: fontLogo;
  src: url(../fonts/fontLogo.otf);
}
.letter, .title {
  font-family: fontLogo;
}

@font-face {
  font-family: fontLogo2;
  src: url(../fonts/EngraversGothic\ BT.ttf);
}
.portLetter {
  font-family: fontLogo2;
}

@font-face {
  font-family: K2D;
  src: url(../fonts/K2D-Medium.ttf);
}
@font-face {
  font-family: BigShoulders;
  src: url(../fonts/BigShouldersDisplay-SemiBold.ttf);
}
@font-face {
  font-family: Alumni;
  src: url(../fonts/AlumniSans-SemiBold.ttf);
}
@font-face {
  font-family: Cinema;
  src: url(../fonts/Cinematografica-Regular-trial.ttf);
}
/* - - - - - - - - - - - - - - - INDEX - - - - - - - - - - - - - - - */
.masterBoxIndex {
  width: 100vw;
  height: 100vh;
}

.indexTitle {
  color: rgba(255, 255, 255, 0);
}

.intro {
  grid-column-start: 2;
  grid-row-start: 2;
  font-size: 20em;
  font-family: K2D;
  letter-spacing: 0.02em;
  width: 100%;
  height: 100%;
  margin-top: 10%;
}

.introText {
  fill: rgb(255, 255, 255);
  stroke: rgb(255, 255, 255);
  fill-opacity: 1;
  stroke-width: 0;
  stroke-dasharray: 100% 0;
  animation: stroke-offset 5s ease-out;
  text-shadow: 0px 0px 13px black;
}

@keyframes stroke-offset {
  0% {
    fill-opacity: 0;
    stroke-width: 0;
    stroke-dasharray: 0% 100%;
    filter: blur(4px);
  }
  25% {
    stroke-width: 2px;
  }
  50% {
    fill-opacity: 0;
    filter: blur(1px);
    filter: blur(0px);
  }
  75% {
    stroke-width: 2px;
  }
  100% {
    stroke-width: 0;
  }
}
/* MENU NAV */
.mainMenuConteiner {
  width: 240px;
  height: 180px;
  display: grid;
  grid-column-start: 2;
  grid-row-start: 3;
  grid-template-columns: 240px;
  grid-template-rows: auto 30px 30px 30px 30px auto;
}

.abouteMe {
  grid-column-start: 1;
  grid-row-start: 2;
  opacity: 0;
  animation-name: aboutAni;
  animation-duration: 1.5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes aboutAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.skills {
  grid-column-start: 1;
  grid-row-start: 3;
  opacity: 0;
  animation-name: skillsAni;
  animation-duration: 1.5s;
  animation-delay: 3.4s;
  animation-fill-mode: forwards;
}

@keyframes skillsAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.myWorks {
  grid-column-start: 1;
  grid-row-start: 4;
  opacity: 0;
  animation-name: worksAni;
  animation-duration: 1.5s;
  animation-delay: 3.8s;
  animation-fill-mode: forwards;
}

@keyframes worksAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.contact {
  grid-column-start: 1;
  grid-row-start: 5;
  opacity: 0;
  animation-name: contactAni;
  animation-duration: 1.5s;
  animation-delay: 4.2s;
  animation-fill-mode: forwards;
}

@keyframes contactAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menuItem {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 1s;
}

.menuLi {
  list-style: none;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px -1px 8px #000000;
}

.mainMenuConteiner:hover .menuLi .menuItem {
  transform: scale(1.05);
  opacity: 0.8;
  filter: blur(3px);
  text-shadow: 0px 0px 4px #000000;
}
.mainMenuConteiner .menuLi .menuItem:hover {
  transform: scale(1.5);
  opacity: 1;
  filter: blur(0px);
  text-shadow: 0px 0px 3px #000000, 0px 0px 8px #fcfbfb;
}

/* - - - - - - - - - - - - - - - HEADER - - - - - - - - - - - - - - - */
header {
  width: 100vw;
  height: 40px;
  background-color: rgba(5, 10, 22, 0.884);
  box-shadow: 2px 0px 15px black;
  top: 0;
  position: sticky;
  z-index: 1;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 40px;
}

.headerNavContainer {
  list-style: none;
  margin: 0;
  display: grid;
  grid-template-columns: auto 100px 10px;
  grid-template-rows: 40px;
  grid-column-start: 2;
}

.itemNavHeader {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerItems {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.itemMenu {
  grid-column-start: 2;
}

.itemAbouteMe, .space1, .itemSkills, .space2, .itemWExperience, .space3, .itemMyWorks, .space4, .itemContact, .space5 {
  display: none;
}

.headerItems:hover {
  text-shadow: 0px 0px 2px #000000, 0px 0px 10px rgba(255, 255, 255, 0.8431372549);
  color: white;
}

/* - - - - - - - - - - - - - - - ABOUT ME - - - - - - - - - - - - - - - */
.masterBoxAboutMe {
  width: 100vw;
  height: 100vh;
  padding: 1em;
}

.pageTitle span {
  color: rgb(22, 206, 46);
  text-shadow: 0px 0px 3px rgb(255, 255, 255);
  font-weight: bolder;
}

/* - - - - - - - - - - - - - - - SKILLS - - - - - - - - - - - - - - - */
.mastesBoxSkills {
  width: 100vw;
  height: 100%;
  padding: 1em;
  display: grid;
  justify-items: center;
}

.skillHead {
  width: 100%;
  display: grid;
}

.skillsTitle {
  grid-column: 1/2;
}

.subTitleSkills {
  grid-column: 1/2;
}

.skillsTitle span {
  color: rgb(12, 192, 51);
  text-shadow: 0px 0px 3px rgb(132, 221, 132);
}

.skillHead h2 {
  color: white;
}

.skillBox {
  width: 100%;
  padding: 1em;
  display: grid;
  grid-template-columns: 1;
  gap: 40px;
}
.skillBox p {
  font-size: 20px;
  color: white;
  font-weight: normal;
}
.skillBox .skillBar .info {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.skillBar .programBar {
  width: 100%;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.199);
  border: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 2px 2px 8px 2px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: inset 2px 2px 8px 2px rgba(0, 0, 0, 0.49);
  box-shadow: inset 2px 2px 8px 2px rgba(0, 0, 0, 0.49);
  border-radius: 3px;
  position: relative;
}
.skillBar .programBar span {
  height: 100%;
  position: absolute;
  background-image: linear-gradient(90deg, rgb(47, 207, 212), rgb(27, 238, 80));
  border-radius: 3px;
  z-index: -1;
}

.skillsIcom {
  width: 28px;
  height: 28px;
  margin-right: 10px;
  filter: drop-shadow(0px 0px 5px #2e2e2e);
}

.excel {
  width: 95%;
  animation-name: excelAni;
  animation-duration: 1.5s;
}

@keyframes excelAni {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}
.word {
  width: 85%;
  animation-name: wordAni;
  animation-duration: 1.5s;
}

@keyframes wordAni {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}
.vsCode {
  width: 90%;
  animation-name: vsCodeAni;
  animation-duration: 1.5s;
}

@keyframes vsCodeAni {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
.corel {
  width: 95%;
  animation-name: corelAni;
  animation-duration: 1.5s;
}

@keyframes corelAni {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}
.photoShop {
  width: 82%;
  animation-name: psAni;
  animation-duration: 1.5s;
}

@keyframes psAni {
  0% {
    width: 0;
  }
  100% {
    width: 82%;
  }
}
.autoCad {
  width: 97%;
  animation-name: aCadAni;
  animation-duration: 1.5s;
}

@keyframes aCadAni {
  0% {
    width: 0;
  }
  100% {
    width: 97%;
  }
}
.sketchUp {
  width: 80%;
  animation-name: sketchAni;
  animation-duration: 1.5s;
}

@keyframes sketchAni {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
.lightBurn {
  width: 90%;
  animation-name: lightBurnAni;
  animation-duration: 1.5s;
}

@keyframes lightBurnAni {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
/* - - - - - - - - - - - - - - - MY WORKS - - - - - - - - - - - - - - - */
.masterBoxMyWorks {
  width: 100vw;
  height: 100%;
  padding: 1em;
}

.conteinerMyWorks {
  background: none;
}

.pageTitle span {
  color: rgb(22, 206, 46);
  text-shadow: 0px 0px 3px rgb(255, 255, 255);
  font-weight: bolder;
}

/* - - - - - - - - - - - - - - - CONTACT - - - - - - - - - - - - - - - */
.masterBoxContact {
  width: 100vw;
  height: 100%;
  padding: 1em;
  display: grid;
  justify-items: center;
}

.pageTitle span {
  color: rgb(22, 206, 46);
  text-shadow: 0px 0px 3px rgb(255, 255, 255);
  font-weight: bolder;
}

.formWrapper {
  color: rgb(255, 255, 255);
  padding: 1em;
  box-shadow: 0px 0px 15px rgba(8, 8, 8, 0.5);
  border-radius: 12px;
  background-image: linear-gradient(135deg, rgba(241, 246, 247, 0.322), rgba(92, 128, 133, 0.322), rgba(41, 175, 130, 0.418));
}
.formWrapper > * {
  padding: 1em;
}

.contactInfo {
  background-color: rgba(0, 0, 0, 0.2392156863);
  border: 1px solid rgba(82, 82, 82, 0.514);
  border-radius: 12px;
  box-shadow: 0px 0px 8px rgba(8, 8, 8, 0.5);
}
.contactInfo p {
  display: none;
}

.contactForm form {
  display: grid;
  grid-template-columns: 50% 50%;
}
.contactForm form p {
  margin: 0;
  padding: 1em;
}
.contactForm form .block {
  grid-column: 1/3;
}
.contactForm form button, .contactForm form input {
  width: 100%;
  padding: 0.3em;
  border: none;
  background: none;
  outline: 0;
  color: white;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.contactForm form textarea {
  width: 100%;
  padding: 0.3em;
  border: none;
  background: none;
  outline: 0;
  color: white;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  height: 3em;
}
.contactForm form button {
  background: rgba(36, 49, 59, 0.637);
  box-shadow: 0px 0px 5px black;
  border: 0;
  border-radius: 10px;
  padding: 1em;
  font-size: 15px;
}
.contactForm form button:hover {
  background: rgba(58, 144, 224, 0.589);
  box-shadow: 0px 0px 5px rgb(247, 243, 243);
  transition: 0.5s;
}

.contactInfo h3, .contactInfo ul, .contactInfo p {
  text-align: center;
  margin: 0 0 1rem 0;
}
.contactInfo ul {
  list-style: none;
  padding: 0;
}
.contactInfo ul li {
  padding: 0.3em;
}

/* - - - - - - - - - - - - - - - FOOTER - - - - - - - - - - - - - - - */
footer {
  height: 65px;
}

.footerIconsContainer {
  display: inline;
  width: 180px;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footerIcom {
  height: 18px;
}
.footerIcom:hover {
  filter: drop-shadow(0px 0px 5px #a8a8a8);
}

/* - - - - - - - - - - - - - - - MOOD TABLET / PC - - - - - - - - - - - - - - - */
@media (min-width: 768px) {
  /* - - - - - - - INDEX - - - - - - - */
  .masterBoxIndex {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 90% auto;
    grid-template-rows: auto 200px 90px auto;
  }
  .intro {
    grid-column-start: 2;
    grid-row-start: 2;
    font-size: 29em;
    margin-top: -1%;
  }
  .mainMenuConteiner {
    width: 600px;
    height: 50px;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 50px;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: -5%;
  }
  .abouteMe {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .skills {
    grid-column-start: 2;
    grid-row-start: 1;
  }
  .myWorks {
    grid-column-start: 3;
    grid-row-start: 1;
  }
  .contact {
    grid-column-start: 4;
    grid-row-start: 1;
  }
  /* - - - - - - - HEADER MENU - - - - - - - */
  .headerNavContainer {
    grid-template-columns: auto 100px 4px 100px 4px 100px 4px 100px 4px 100px 10px;
    position: relative;
  }
  .itemAbouteMe {
    display: block;
    grid-column-start: 2;
  }
  .space1 {
    display: block;
    grid-column-start: 3;
  }
  .itemSkills {
    display: block;
    grid-column-start: 4;
  }
  .space2 {
    display: block;
    grid-column-start: 5;
  }
  .itemMyWorks {
    display: block;
    grid-column-start: 6;
  }
  .space3 {
    display: block;
    grid-column-start: 7;
  }
  .itemContact {
    display: block;
    grid-column-start: 8;
  }
  .space4 {
    display: block;
    grid-column-start: 9;
  }
  .itemMenu {
    grid-column-start: 10;
  }
  .headerItems {
    display: inline-block;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .headerNavContainer p {
    color: white;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .menuLink {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
  .menuLink:hover {
    text-shadow: 0px 0px 2px #000000, 0px 0px 10px rgba(255, 255, 255, 0.8431372549);
    color: white;
  }
  /* - - - - - - - ABOUTE ME - - - - - - - */
  /* - - - - - - - SKILLS - - - - - - - */
  .mastesBoxSkills {
    padding: 2em;
  }
  .skillsTitle {
    grid-column: 1/3;
  }
  .skillBox {
    width: 90%;
    padding: 2em;
    grid-template-columns: 50% 50%;
  }
  .dividerLine {
    grid-column: 1/3;
  }
  .subTitleSkills {
    grid-column: 1/3;
  }
  /* - - - - - - - MY WORKS - - - - - - - */
  .masterBoxMyWorks {
    width: 90%;
    padding: 0;
  }
  /* - - - - - - - CONTACT - - - - - - - */
  .formWrapper {
    width: 90%;
    padding: 1em;
    display: grid;
    grid-template-columns: 70% 30%;
  }
  .contactInfo p {
    display: block;
  }
  .contactForm form textarea {
    height: 8em;
  }
  /* - - - - - - - FOOTER - - - - - - - */
  .footerIcom {
    height: 22px;
  }
  .footerIconsContainer {
    display: inline;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .footerIcom:hover {
    filter: drop-shadow(0px 0px 5px #a8a8a8);
  }
}
.subTitleSkills {
  color: rgb(255, 255, 255);
  font-family: "Quicksand", sans-serif;
  font-size: 28px;
  text-shadow: 0px 0px 3px rgb(190, 190, 190);
  margin: 0;
  padding: 0;
}

.skillHead h2 {
  color: rgb(255, 255, 255);
  font-family: "Quicksand", sans-serif;
  font-size: 28px;
  text-shadow: 0px 0px 3px rgb(190, 190, 190);
  margin: 0;
  padding: 0;
}

.pageTitle {
  font-family: "Quicksand", sans-serif;
  text-align: left;
  margin-bottom: 0.5em;
  font-size: 3em;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 3px rgb(190, 190, 190);
}

/*# sourceMappingURL=styles.css.map */
