* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }
  
  body {
    width: 100vw;
    height: 100%;
    background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: normal, lighten, soft-light;
    /*background-image: url(../img/backgrounds/WallpaperDog-20496256.jpg);*/
    background-size: 100vw 100%;
    overflow-x: hidden;
    background-repeat: no-repeat;
  }

