
/* - - - - - - - - - - - - - - - INDEX - - - - - - - - - - - - - - - */

.masterBoxIndex {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 90% auto;
    grid-template-rows: auto 100px 180px auto;
  }

.indexTitle{
  color: rgba(255, 255, 255, 0);
}

.intro {
  grid-column-start: 2;
  grid-row-start: 2;
  font-size: 21em;
  font-family: K2D;
  letter-spacing: 0.02em;
  width: 100%;
  height: 100%;
  margin-top: 10%;
}

.introText {
  fill: rgb(255, 255, 255);
  stroke: rgb(255, 255, 255);
  fill-opacity: 1;
  stroke-width: 0;
  stroke-dasharray: 100% 0;
  animation: stroke-offset 5s ease-out;
  text-shadow: 0px 0px 13px black;
}

@keyframes stroke-offset {
  0% {
    fill-opacity: 0;
    stroke-width: 0;
    stroke-dasharray: 0% 100%;
    filter: blur(4px);
  }
  25% {
    stroke-width: 1px;
  }
  50% {
    fill-opacity: 0;
    filter: blur(1px);
    filter: blur(0px);
  }
  75% {
    stroke-width: 1px;
  }
  100% {
    stroke-width: 0;
  }
}

  /* MENU NAV */

.mainMenuConteiner {
    width: 240px;
    height: 180px;
    display: grid;
    grid-column-start: 2;
    grid-row-start: 3;
    grid-template-columns: 240px;
    grid-template-rows: auto 40px 40px 40px 40px auto;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }  

  .abouteMe {
    grid-column-start: 1;
    grid-row-start: 2;
    opacity: 0;
    animation-name: aboutAni;
    animation-duration: 1.5s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
  }

  @keyframes aboutAni {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  .skills {
    grid-column-start: 1;
    grid-row-start: 3;
    opacity: 0;
    animation-name: skillsAni;
    animation-duration: 1.5s;
    animation-delay: 3.4s;
    animation-fill-mode: forwards;
  }

  @keyframes skillsAni {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  .myWorks {
    grid-column-start: 1;
    grid-row-start: 4;
    opacity: 0;
    animation-name: worksAni;
    animation-duration: 1.5s;
    animation-delay: 3.8s;
    animation-fill-mode: forwards;
  }

  @keyframes worksAni {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  .contact {
    grid-column-start: 1;
    grid-row-start: 5;
    opacity: 0;
    animation-name: contactAni;
    animation-duration: 1.5s;
    animation-delay: 4.2s;
    animation-fill-mode: forwards;
  }
  
  @keyframes contactAni {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  .menuItem {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 1s;
  }
  
  .menuLi {
    list-style: none;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px -1px 8px #000000;
  }
  
  .mainMenuConteiner {
    &:hover .menuLi .menuItem {
      transform: scale(1.05);
      opacity: 0.8;
      filter: blur(3px);
      text-shadow: 0px 0px 4px #000000;
    }
  
    .menuLi .menuItem:hover {
      transform: scale(1.5);
      opacity: 1;
      filter: blur(0px);
      text-shadow: 0px 0px 3px #000000, 0px 0px 8px #fcfbfb;
    }
  }