
/* - - - - - - - - - - - - - - - MY WORKS - - - - - - - - - - - - - - - */

.masterBoxMyWorks {
    width: 100vw;
    height: 100%;
    padding: 1em;
}

.container{
  margin: 0 auto;
  width: 100%;
  height: 70vh;
}

.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}

.item {
  flex: 1;
  width: 100%;
  height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
  
  &:hover{
    flex: 3;
  }
}

.item-1 { 
  background-image: url(../img/img/WhatsApp\ Image\ 2022-11-15\ at\ 14.18.24.jpeg);
}

.item-2 { 
  background-image: url(../img/img/WhatsApp\ Image\ 2022-11-15\ at\ 14.18.37.jpeg);
}

.item-3 { 
  background-image: url(../img/img/WhatsApp\ Image\ 2022-11-15\ at\ 14.18.28.jpeg);
}

.item-4 { 
  background-image: url(../img/img/WhatsApp\ Image\ 2022-11-15\ at\ 14.18.38.jpeg);
}

.item-5 { 
  background-image: url(../img/img/logo\ programa\ radio.jpg);
}
