
/* - - - - - - - - - - - - - - - SKILLS - - - - - - - - - - - - - - - */

.mastesBoxSkills {
  width: 100vw;
  height: 100%;
  padding: 1em;
  display: grid;
  justify-items: center;
}

.skillHead {
  width: 100%;
  display: grid;
}

.skillsTitle{
  grid-column: 1 / 2;
}

.subTitleSkills{
  grid-column: 1 / 2;
}

.skillsTitle {
  span {
    color: rgb(12, 192, 51);
    text-shadow: 0px 0px 3px rgb(132, 221, 132);
  }
}

.skillHead h2 {
  color: white;
}

.skillBox {
  width: 100%;
  padding: 1em;
  display: grid;
  grid-template-columns: 1;
  gap: 40px;

  p {
    color: white;
    font-weight: bolder;
  }

  .skillBar .info {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
}

.skillBar .programBar {
  width: 100%;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.199);
  box-shadow: 0px 0px 5px black;
  border-radius: 7px;
  position: relative;

  span {
    height: 100%;
    position: absolute;
    background-image: linear-gradient(90deg, rgb(18, 204, 211), rgb(77, 211, 43));
    border-radius: 7px;
  }
}

.excel {
  width: 95%;
  animation-name: excelAni;
  animation-duration: 1.5s;
}

@keyframes excelAni {
  0% {
    width: 0;
  }

  100% {
    width: 95%;
  }
}

.word {
  width: 85%;
  animation-name: wordAni;
  animation-duration: 1.5s;
}

@keyframes wordAni {
  0% {
    width: 0;
  }

  100% {
    width: 85%;
  }
}

.vsCode {
  width: 90%;
  animation-name: vsCodeAni;
  animation-duration: 1.5s;
}

@keyframes vsCodeAni {
  0% {
    width: 0;
  }

  100% {
    width: 90%;
  }
}

.corel {
  width: 95%;
  animation-name: corelAni;
  animation-duration: 1.5s;
}

@keyframes corelAni {
  0% {
    width: 0;
  }

  100% {
    width: 95%;
  }
}

.photoShop {
  width: 82%;
  animation-name: psAni;
  animation-duration: 1.5s;
}

@keyframes psAni {
  0% {
    width: 0;
  }

  100% {
    width: 82%;
  }
}

.autoCad {
  width: 97%;
  animation-name: aCadAni;
  animation-duration: 1.5s;
}

@keyframes aCadAni {
  0% {
    width: 0;
  }

  100% {
    width: 97%;
  }
}

.sketchUp {
  width: 80%;
  animation-name: sketchAni;
  animation-duration: 1.5s;
}

@keyframes sketchAni {
  0% {
    width: 0;
  }

  100% {
    width: 80%;
  }
}

.lightBurn {
  width: 90%;
  animation-name: lightBurnAni;
  animation-duration: 1.5s;
}

@keyframes lightBurnAni {
  0% {
    width: 0;
  }

  100% {
    width: 90%;
  }
}